body {
    background-color: #121212; /* Cor de fundo escura */
    color: #8be4ac;; /* Cor do texto */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #1e1e1e; /* Cor do container */
    border-radius: 10px;
    overflow: hidden;
  }
  
  .form-container {
    flex: 1;
    padding: 40px;
  }
  
  .form-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .form-container input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #8be4ac;
  }
  
  .password-requirements {
    font-size: 12px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .password-requirements span {
    width: 48%;
    margin-bottom: 5px;
  }
  
  .form-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: aquamarine; /* Cor do botão */
    color: #1a202c;
    cursor: pointer;
  }
  
  .form-links {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
  }
  
  .form-links a {
    color: #8be4ac;;
    text-decoration: none;
  }
  
  .quote-container {
    flex: 1;
    background-color: #282828; /* Cor do container da citação */
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  blockquote {
    font-size: 18px;
    font-style: italic;
    text-align: center;
    line-height: 1.5;
  }
  