body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    background-color: #1a1a1a;
    color: #f5f8f7;
  }
  
  .info-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .info-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .info-header h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .info-header p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .info-buttons button {
    padding: 15px 30px;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    margin: 0 10px;
    cursor: pointer;
    color: black;
  }
  
  .get-started {
    background-color: aquamarine;
    color: #fff;
  }
  
  .schedule-demo {
    background-color: #e0e0e0;
    color: #333;
  }
  
  .info-sections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 40px;
  }
  
  .info-section {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
  }
  
  .info-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .info-section p {
    font-size: 1.1em;
    margin-bottom: 20px;
  }
  
  .info-section button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
  }
  
  .section {
    background-color: #282828;
    padding: 20px;
    border-radius: 10px;
  }
  
  .chat-messages {
    margin-bottom: 20px;
  }
  
  .message {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .received {
    background-color:aquamarine
  }
  
  .received i {
    margin-right: 10px;
  }
  
  .message p {
    font-size: 1.1em;
    color: black
  }
  
  .sent {
    background-color: #444;
    justify-content: flex-end;
  }
  
  .message i {
    margin-right: 10px;
  }
  
  .section-title {
    font-size: 1.3em;
    margin-bottom: 10px;
  }
  
  .app-integrations {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #48cfb6;
  }
  
  .app-integrations span {
    background-color: #333;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
  }
  
  .advance-security {
    display: flex;
    align-items: center;
  }
  
  .advance-security i {
    font-size: 2em;
    margin-right: 10px;
  }
  
  .grow-ai {
    background-color: #333;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .grow-ai p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .grow-ai button {
    background-color: #48cfb6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .grow-ai button:hover {
    background-color: #1a1a1a;
  }
  
  .grow-ai button i {
    margin-right: 5px;
  }
  
  #footer {
    background: rgb(32, 32, 32);
    color: #48cfb6;
    padding: 20px;
    text-align: center;
  }
  
  #footer p {
    margin: 0;
  }
  
  #footer a {
    color: #48cfb6;
    text-decoration: none;
  }
  
  #footer a:hover {
    text-decoration: underline;
  }
  
  #footer img {
    width: 100px;
    height: 100px;
  }   
  
  @media (max-width: 768px) {
    .info-sections {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 480px) {
    .info-header h1 {
      font-size: 2em;
    }
  
    .info-header p {
      font-size: 1em;
    }
  
    .info-buttons button {
      padding: 10px 20px;
      font-size: 1em;
    }
  }